In [1]:
import pandas as pd

In [2]:
df_adv_data = pd.read_csv('C:\\Users\\Nikhil\\Documents\\Datasets\\Advertising.csv')

In [3]:
df_adv_data.head()

   id     TV  Radio  Newspaper  Sales
0   1  230.1   37.8       69.2   22.1
1   2   44.5   39.3       45.1   10.4
2   3   17.2   45.9       69.3    9.3
3   4  151.5   41.3       58.5   18.5
4   5  180.8   10.8       58.4   12.9

In [4]:
df_adv_data.size

1000

In [5]:
df_adv_data.shape

(200, 5)

In [6]:
df_adv_data.columns

Index(['id', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [7]:
X_feature = df_adv_data[['TV', 'Radio', 'Newspaper']]

In [8]:
X_feature.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [9]:
Y_target = df_adv_data[['Sales']]

In [10]:
Y_target.head()

   Sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [11]:
X_feature.shape

(200, 3)

In [12]:
Y_target.shape

(200, 1)

In [35]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nikhil\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\nikhil\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nikhil\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\nikhil\anaconda3\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in c:\users\nikhil\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(X_feature,Y_target,random_state=1)

In [16]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [17]:
#Linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [18]:
linreg

LinearRegression()

In [20]:
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [21]:
y_pred = linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [22]:
from sklearn import metrics
import numpy as np

In [24]:
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.4046514230328955